###############################################################################
## Option Settings
##    Namespace: "aws:elasticbeanstalk:application:environment"
##    OptionName: CatalinaCWLogGroup
##       Default:   <EnvironmentName>-catalina.out
##    Description: This is the name of the cloudwatch log group for the catalina.out file
##
###############################################################################


Mappings:
  CWLogs:
    CatalinaLogGroup:
      LogFile: "/var/log/tomcat8/catalina.out"
      TimestampFormat: "%Y-%m-%d %H:%M:%S,%f"
      
Outputs:
  CatalinaCWLogGroup:
    Description: "The name of the Cloudwatch Logs Log Group created for this environments Catalina.out logs. You can specify this by setting the value for the environment variable: CatalinaCWLogGroup. Please note: if you update this value, then you will need to go and clear out the old cloudwatch logs group and delete it through Cloudwatch Logs."
    Value: { "Ref" : "AWSEBCloudWatchLogsCatalinaLogGroup"}

Resources :
  AWSEBCloudWatchLogsCatalinaLogGroup:    ## Must have prefix:  AWSEBCloudWatchLogs
    Type: "AWS::Logs::LogGroup"
    DependsOn: AWSEBBeanstalkMetadata
    DeletionPolicy: Retain     ## this is required
    Properties:
      LogGroupName:
        "Fn::GetOptionSetting":
          Namespace: "aws:elasticbeanstalk:application:environment"
          OptionName: CatalinaCWLogGroup
          DefaultValue: {"Fn::Join":["-", ["awseb", { "Ref":"AWSEBEnvironmentName" }, "catalina"]]}
      RetentionInDays: 14

  ## Register the files/log groups for monitoring
  AWSEBAutoScalingGroup:
    Metadata:
      "AWS::CloudFormation::Init":
        CWLogsAgentConfigSetup:
          files:
            ## any .conf file put into /tmp/cwlogs/conf.d will be added to the cwlogs config (see cwl-agent.config)
            "/tmp/cwlogs/conf.d/catalina-logs.conf":
              content : |
                [catalina_log]
                file = `{"Fn::FindInMap":["CWLogs", "CatalinaLogGroup", "LogFile"]}`
                log_group_name = `{ "Ref" : "AWSEBCloudWatchLogsCatalinaLogGroup" }`
                log_stream_name = {instance_id}
                time_zone = UTC
                datetime_format = `{"Fn::FindInMap":["CWLogs", "CatalinaLogGroup", "TimestampFormat"]}`
              mode  : "000400"
              owner : root
              group : root